<header class="header overlay-library">
  <div class="container library__container">
    <div class="header__wrapper library-wrapper">
      <a href="./index.html" class="link logo">
        <svg class="logo" width="24px" height="24px">
          <use href="./images/symbol-defs.svg#icon-film"></use>
        </svg>
        <span class="logo-text">Filmoteka</span>
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="./index.html" class="nav__link link">HOME</a></li>
          <li class="nav__item"><a href="./my-library.html" class="nav__link link nav__link--current">MY LIBRARY</a>
          </li>
        </ul>
      </nav>
    </div>
    <ul class="btn-list">
      <li class="btn-list__item">
        <button type="button" class="btn-list__button btn watched-btn-js">Watched</button>
      </li>
      <li class="btn-list__item">
        <button type="button" class="btn-list__button btn queue-btn-js">queue</button>
      </li>
    </ul>
  </div>
</header>