<main>
  <section class="section container">
    <div class="section-gallery">
      <ul class="section-gallery__list paginated-list" id="home" data-modal-open>
      </ul>
    </div>
    <!-- <div id="data-container"></div>
    <div id="pagination-container"></div> -->
    <div class="pagination-container">
      <button class="pagination-button" id="prev-button" title="Previos page" aria-label="Previous page">
        &lt;
        <!-- <svg class="icon-arrow-left" width="25" height="25">
          <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
        </svg> -->
      </button>

      <div id="pagination-numbers">

      </div>

      <button class="pagination-button" id="next-button" title="Next page" aria-label="Next page">
        &gt;
        <!-- <svg class="icon-arrow-right" width="25" height="25">
          <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
        </svg> -->
      </button>
    </div>
  </section>
  <!-- <div id="data-container"></div>
  <div id="pagination-container"></div> -->
</main>