<main>
  <section class="section container">
    <div class="section-gallery">
      <ul class="section-gallery__list" id="home" data-modal-open>
      </ul>
    </div>
    <!-- <div id="data-container"></div>
    <div id="pagination-container"></div> -->
    <div class="pagination">
      <ul class="pagination__list">
        <!-- <li class="pagination__item icon-btn left button">
          <svg class="icon-arrow-left" width="25" height="25">
            <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
          </svg>
        </li>
        <li class="pagination__item numb">1</li>
        <li class="pagination__item numb active">2</li>
        <li class="pagination__item numb">3</li>
        <li class="pagination__item numb">4</li>
        <li class="pagination__item numb">5</li>
        <li class="pagination__item icon-btn right button">
            <svg class="icon-arrow-right" width="25" height="25">
              <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
        </li> -->

      </ul>
    </div>
  </section>
  <div id="data-container"></div>
  <div id="pagination-container"></div>
</main>