<main>
  <section class="section container">
    <div class="section-gallery">
      <ul class="section-gallery__list">
        <li class="section-gallery__item">
          <img src="./images/Rectangle.png" alt="foto" width="280" class="section-gallery__item__img">
          <h2 class="section-gallery__item__title">A FISTFUL OF LEAD</h2>
          <p class="section-gallery__item__description">Drama, Action | 2020 <span class="number">10.0</span></p>
        </li>
        <li class="section-gallery__item">
          <img src="./images/Rectangle.png" alt="foto" width="280" class="section-gallery__item__img">
          <h2 class="section-gallery__item__title">A FISTFUL OF LEAD</h2>
          <p class="section-gallery__item__description">Drama, Action | 2020 <span class="number">10.0</span></p>
        </li>
        <li class="section-gallery__item">
          <img src="./images/Rectangle.png" alt="foto" width="280" class="section-gallery__item__img">
          <h2 class="section-gallery__item__title">A FISTFUL OF LEAD</h2>
          <p class="section-gallery__item__description">Drama, Action | 2020 <span class="number">10.0</span></p>
        </li>
        <li class="section-gallery__item">
          <img src="./images/Rectangle.png" alt="foto" width="280" class="section-gallery__item__img">
          <h2 class="section-gallery__item__title">A FISTFUL OF LEAD</h2>
          <p class="section-gallery__item__description">Drama, Action | 2020 <span class="number">10.0</span></p>
        </li>
      </ul>
    </div>
  </section>
</main>