.footer {
  background-color: var(--footer-bg-color);
}

.footer__section {
  padding: 30px 42px;
}

.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  color: var(--footer-text-color);
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.9;
  }
}

.footer__adress {
  text-decoration: underline;
}
